@page
@model MyApp.Namespace.MyAccountModel
@{
}


<div class="text-center">
    <h1 class="display-4">Welcome to the LinkedIn Job Tracker</h1>
    <p class="lead">Because LinkedIn's built in application filtering functionality is just no good.</p>
</div>