@page
@model MyApp.Namespace.MyAccountModel
@{
    ViewData["Title"] = "Manage Account 👤";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Use this page to manage your account.</p>
</div>