@page
@model MyApp.Namespace.UploadJobsModel
@{
}

<div class="text-center">
    <h1 class="display-4">Here you can upload jobs</h1>
    <p class="lead">Add updated information below.</p>
</div>